body {
    background-color: royalblue;
    margin: 0px;
}

/* style untuk heading - BEGIN */
h1{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline ;
}
h3{
    color: rgb(25, 50, 51);
}
/*style untuk heading - END */

/*style untuk link - BEGIN */
a:link{

}
a:active{
    color: darkorange
}
a:hover{

}
a:visited {
    color: rgb(117, 182, 187)
}
/*style untuk link - END */

/*style untuk class - BEGIN */
.header1 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header2 {
    color: rgb(96, 158, 160);
}
.logo {
    text-align: center
}
.jumbotron {
    background-image: src="/images/tmb1.jpg";
    background-size: cover;
    border: solid 1px ;
    /*background color */
    background-color: rgb(153, 202, 229);
    border-radius: 8px;
    height: 240px 
}
.jumbotron h1 {
    margin: 20px 40px;
    font-size: 24px;
    color: black
}
.jumbotron h3 {
    margin: 18px 38px;
    font-size: 26px;
    color: rgb(96, 158, 160);
    text-align: center
}
.footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    background-color: white;
    padding: 10px;
    font-size: 11px;
    text-align: center
}
.container {
    background-color: black(104, 243, 185, 0.651);
    margin: 0px auto;
    overflow: auto;


}
/*style berbentuk class - END */
/*Menu Header - BEGIN */

.menu-header {
    background-color: indianred;
    border-radius: 40px;
    box-shadow: 
        0 3px 5px -1px ;
    text-align: center;
    margin: 0px;
}
.menu-header li{
    display: inline-block;
}
.menu-header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color: rgb(96, 158, 160);
    text-decoration: none;
    padding: 10px 10px 10px 10px;
}
.menu-header a:hover {
    color: rgb(96, 158, 160)
}
/* Menu Header -END */
/* Card Home - BEGIN */
.cardhome {
    display: inline-block;
    background-color: rgb(207, 161, 161);
    width:  30%;
    height: 290px;
    border-radius: 0px 0px  20px 20px;
}
.cardhead {
    border-bottom: solid 1px burlywood;
    padding: 10px 0px;
}
.cardhead h3 {
    margin: 0px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cardbody {
    padding: 10px;
    text-align: center;
}
.cardbody p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
}
.cardflex {
    display: flex;
    justify-content: space-between;
}
/* Card Homr - END */
/*
